<section class="serv bg-black p-4 md:p-8">
    <div class="content">
       
        <div class="ml-40 pt-10">
            <h3 class="text-white font-medium text-2xl">What I Do </h3>
          </div>

        <div class="serv__list mx-auto md:ml-20 md:mr-20">
            <div class="serv__item flex items-center justify-center md:justify-start">
                <span class="serv__item-arrow" data-speed="500">
                    <img src="../../../assets/arrow.svg" alt="">
                </span>
                <div class="serv__item-txt">
                    <span class="serv__item-text text-white">/Graphic Design</span>
                </div>
            </div>
            <div class="serv__item flex items-center justify-center md:justify-start mt-4 md:mt-0">
                <span class="serv__item-arrow" data-speed="400">
                    <img src="../../../assets/arrow.svg" alt="">
                </span>
                <div class="serv__item-txt">
                    <span class="serv__item-text text-white">/UX/UI Design</span>
                </div>
            </div>
            <div class="serv__item flex items-center justify-center md:justify-start mt-4 md:mt-0">
                <span class="serv__item-arrow" data-speed="800">
                    <img src="../../../assets/arrow.svg" alt="">
                </span>
                <div class="serv__item-txt">
                    <span class="serv__item-text text-white">/Web Design</span>
                </div>
            </div>
            <div class="serv__item flex items-center justify-center md:justify-start mt-4 md:mt-0">
                <span class="serv__item-arrow" data-speed="600">
                    <img src="../../../assets/arrow.svg" alt="">
                </span>
                <div class="serv__item-txt">
                    <span class="serv__item-text text-white">/Web Develop</span>
                </div>
            </div>
        </div>
    </div>
</section>
