<footer class="bg-black h-fit pt-5 pb-20">


    <div class="footer_container ">
  
      <div class="title">
          <h1 class="text-white font-medium text-2xl ml-40 mb-8 tracking-wide uppercase">Connect</h1>
      </div>
      <div class="links flex justify-around mb-28 ">
  
          <div class="one">
              <ul>
                 
                  <li class="flex flex-row social"><span id="triangle-topright"></span>Wordpress</li>
                  <li class="flex flex-row social"><span id="triangle-topright"></span>Linkedin</li>
              </ul>
  
          </div>
          <div class="secound">
              <ul>
                  <li class="flex flex-row social"><span id="triangle-topright"></span>Artstation</li>
                  <li class="flex flex-row social"><span id="triangle-topright"></span>GitHub</li>
             
              </ul>
  
          </div>
          <div class="three">
              <ul class="mt-10">
                  <li class=" font-normal from-neutral-300">phone : +91 9445460403</li>
                  <li class=" font-normal from-neutral-300">email : gowthamsekar0007mail.com</li>
                  
              </ul>
  
          </div>
      </div>
    </div>
  
  </footer>