
<div class='demo-wrapper bg-black'>
   
    <section class='demo-text'>
      <div class='wrapper text text-white'>
        ABCDEFGHIJKLMNOPQRSTUVWXYZ
      </div>
    </section>
    <section class='demo-gallery'>
      <ul class='wrapper'>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=202' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=14' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=94' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=68' width='1240'>
        </li>
      </ul>
    </section>
    <section class='demo-gallery'>
      <ul class='wrapper'>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=40' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=176' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=204' width='1240'>
        </li>
      </ul>
    </section>
    <section class='demo-gallery'>
      <ul class='wrapper'>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=17' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=74' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=58' width='1240'>
        </li>
      </ul>
    </section>
    <section class='demo-gallery'>
      <ul class='wrapper'>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=138' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=157' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=199' width='1240'>
        </li>
      </ul>
    </section>
    <section class="demo-text">
      <div class="wrapper text px-4 md:px-0 text-white"> <!-- Add padding on small screens -->
        ABCDEFGHIJKLMNOPQRSTUVWXYZ
      </div>
    </section>
  
    <app-development></app-development>
  </div>