<header class="header pt-10 bg-[#141212]">
    
    
    <div class="header__marq mt-10">
        <div class="header__marq-wrapp" >
            <span class="header__marq-txt">GOWTHAM
                <span class="header__marq-star">
                    <img class="header__img" src="../../../assets/star.svg" alt="">
                </span>
            </span>
            <span class="header__marq-txt">GOWTHAM
                <span class="header__marq-star">
                    <img class="header__img" src="../../../assets/star.svg" alt="">
                </span>
            </span>
            <span class="header__marq-txt">GOWTHAM
                <span class="header__marq-star">
                    <img class="header__img" src="../../../assets/star.svg" alt="">
                </span>
            </span>
            <span class="header__marq-txt">GOWTHAM
                <span class="header__marq-star">
                    <img class="header__img" src="../../../assets/star.svg" alt="">
                </span>
            </span>
            <span class="header__marq-txt">GOWTHAM
                <span class="header__marq-star">
                    <img class="header__img" src="../../../assets/star.svg" alt="">
                </span>
            </span>
            <span class="header__marq-txt">GOWTHAM
                <span class="header__marq-star">
                    <img class="header__img" src="../../../assets/star.svg" alt="">
                </span>
            </span>
            <span class="header__marq-txt">GOWTHAM
                <span class="header__marq-star">
                    <img class="header__img" src="../../../assets/star.svg" alt="">
                </span>
            </span>
        </div>
    </div>
</header>
