<section class="work">
    <div class="content">
        <h2 class="section-title">portfo<span class="stroke">lio</span>
            <span class="section-title__square"></span>
        </h2>
    </div>

    <div class="work__wrapp">
        <div class="work__item" data-speed="-300">
            <span class="work__item-num" data-speed="-1000">/001</span>
            <div class="work__item-img">
                <img src="../../../assets/3.jpg" alt="3">
            </div>
        </div>
        <div class="work__item" data-speed="-600">
            <span class="work__item-num" data-speed="-500">/002</span>
            <div class="work__item-img">
                <img src="../../../assets/4.jpg" alt="4">
            </div>
        </div>
        <div class="work__item" data-speed="-700">
            <span class="work__item-num" data-speed="-700">/003</span>
            <div class="work__item-img">
                <img src="../../../assets/5.jpg" alt="5">
            </div>
        </div>
        <div class="work__item" data-speed="-400">
            <span class="work__item-num" data-speed="-200">/004</span>
            <div class="work__item-img">
                <img src="../../../assets/6.jpg" alt="6">
            </div>
        </div>
    </div>
</section>