/* h3{
    margin-top: 60px;
    text-align: center;
    font-family: "Teko", sans-serif;
    
  }
  h1{
    
   
    font-size: 180px;
    line-height:initial;
    font-family: "Alumni Sans", sans-serif;
    text-align: center;
    font-weight: 700;
    font-style: normal;
  } */


  span{
    font-family: "Akshar", sans-serif;
  }

  h3{
    font-family: "Teko", sans-serif;
    
  }